*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container{
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: hidden;
}

.form{
    margin: 0 auto;
    width: 60%;
    box-shadow: 5px 5px 5px #3a1818;
} */